.u-m-2 { margin: 2rem !important; }
.u-m-l-2 {margin-left: 2rem !important;}
.u-m-t-05 {margin-top: .5rem !important;}
.u-p-2 { padding: 2rem !important; }

.u-error-border { border: solid 1px red!important; outline-color: red!important;}
.u-error-text{ color:red!important}