.btn {
    &, &:link, &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.4rem 2rem;
        border-radius: 3px;
        color: $color-white;
        border: none;
        cursor: pointer;
        outline: none;
    }
    
    &:hover {
        background-color: $color-purple-3;
    }
    
    &--purple {
        background-color: $color-purple-2;
    }
    
}