$color-purple-1: #451549;
$color-purple-2: #7b537e;
$color-purple-3: #b890bb;
$color-white: #ffffff;
$color-gray-1: #f2f2f2;
$color-gray-2: #f0eef0;
$color-text: #999999;
$color-icon: #d1d1d1;
$color-green: #d4edda;
$color-green2: #155724;

$grid-width: 114rem;



